* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}

.slider {
  width: 640px;
  position: relative;
  padding-top: 480px;
  margin: 20px auto;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider > img {
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s;
}

.slider input {
  display: none;
}

.slider label {
  width: 60px;
  margin: 20px 2px;
  float: left;
  border: 2px solid #999;
  cursor: pointer;
  transition: all 0.5s;
  opacity: 0.6;
  box-sizing: border-box;
}

.slider label img {
  width: 100%;
  display: block;
}

.slider input:checked + label {
  border-color: #666;
  opacity: 1;
}

.slider input ~ img {
  opacity: 0;
  transform: scale(1.1);
}

.slider input:checked + label + img {
  opacity: 1;
  transform: scale(1);
}
